body{
    margin:0;
    padding:0;
}
.main{
    background: url("../../assets/header.jpg");
    width: 100vW;
    height: 25rem;
}

.blur{
    background-color: rgba(64, 56, 75, 0.788);
    width: 100%;
    height: 25rem;;
}

.logo{
    margin-left: 10rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #f65261;
}

.add-movie{
    margin-right: 7rem;
    color: #f65261;
    font-size: 1.5rem;
    font-weight: 800;
    background: none;
    border: 0;
}

.add-movie:hover{
    background-color: rgba(127, 116, 158, 0.726);
}

.header-content{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-header{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}